@page
@using ExamProject_Test.Controllers
@model ExamProject_Test.Pages.CoinPages.RankFourCoinModel
@{
    CoinGeckoController CGC = new();
    var topTenCoins = await CGC.GetTopTenCoins();
    var topFourCoin = await CGC.GetTopNCoin(topTenCoins[3].Id);
}
<head>
    <title>@topFourCoin.Name</title>
</head>
<div>
    <p>Name of the coin: @topFourCoin.Name</p>
    <p>Rank of the coin: @topFourCoin.MarketCapRank</p>
    <p>Price of the coin: @topTenCoins[3].CurrentPrice</p>
</div>
