body {
    margin: 0;
    padding: 0;
    /*background-color: #bb9175;*/
    font-family: 'Fredoka One', cursive;
    font-weight: bold;
    font-size: 1.3em;
    min-width: 375px;
    background-color: #333;
    color: black;
}

.logo {
    font-family: 'Fredoka One', cursive;
}

header {
    padding: 0px 10%;
    background-color: white;
    font-family: sans-serif;
}

.navButtons {
    justify-content: space-between;
    display: flex;
    padding: 15px;
}

    .navButtons a {
        padding: 15px;
    }

.mainButtons {
    padding: 0px 10px;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 1em;
}

header a {
    text-decoration: none;
    color: black;
}




.hero {
    height: 500px;
    background-image: url("/images/hero_image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

.hero-content p, a {
    font-family: sans-serif;
    font-weight: 100;
}

h1 {
    font-size: 3em;
}

.hero-content {
    margin: 0px 20%;
    padding: 70px 0px;
    color: white;
}

.hero input {
    height: 42px;
    width: 250px;
    border-radius: 8px;
    border: none;
}

.buttonSearch {
    padding: 10px;
    background-color: forestgreen;
    border-radius: 8px;
}


.categories {
    display: flex;
    flex-direction: column;
    align-items: center
}

.title {
    color: white;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 70px;
}

    .title h1 {
        margin-bottom: 0;
    }


.list a {
    text-decoration: underline;
    color: white;
    padding: 0px 30px;
}

#categoryCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 100px 10%;
    justify-content: center;
}

.card img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.card h6 {
    margin: 0 0 20px 0;
    text-align: center;
    color: white;
}

.card {
    margin: 0 25px;
    cursor: pointer;
}

    .card img:hover {
        object-fit: none;
        transition: .2s;
    }





















/* Footer layout */
footer {
    bottom: 0;
}

.footer-distributed {
    background-color: #0f0b0a;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 20px 50px;
}

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: inline-block;
        vertical-align: middle;
    }

    .footer-distributed .footer-left {
        width: 40%;
    }

    .footer-distributed h3 {
        color: #ffffff;
        font: normal 36px 'Fredoka One', cursive;
        margin: 0;
    }

        .footer-distributed h3 span {
            color: #e2a28e;
        }


    .footer-distributed .footer-links {
        color: #ffffff;
        margin: 20px 0 12px;
        padding: 0;
    }

        .footer-distributed .footer-links a {
            display: inline-block;
            line-height: 1.8;
            text-decoration: none;
            color: inherit;
        }

    .footer-distributed .footer-company-name {
        color: #8f9296;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }


    .footer-distributed .footer-center {
        width: 35%;
    }

        .footer-distributed .footer-center i {
            background-color: #33383b;
            color: #ffffff;
            font-size: 25px;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            text-align: center;
            line-height: 42px;
            margin: 10px 15px;
            vertical-align: middle;
        }

            .footer-distributed .footer-center i.fa-envelope {
                font-size: 17px;
                line-height: 38px;
            }

        .footer-distributed .footer-center p {
            display: inline-block;
            color: #ffffff;
            vertical-align: middle;
            margin: 0;
        }

            .footer-distributed .footer-center p span {
                display: block;
                font-weight: normal;
                font-size: 14px;
                line-height: 2;
            }

            .footer-distributed .footer-center p a {
                color: #5383d3;
                text-decoration: none;
                ;
            }

    .footer-distributed .footer-right {
        width: 20%;
    }

    .footer-distributed .footer-company-about {
        line-height: 20px;
        color: #92999f;
        font-size: 13px;
        font-weight: normal;
        margin: 0;
    }

        .footer-distributed .footer-company-about span {
            display: block;
            color: #ffffff;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 20px;
        }

    .footer-distributed .footer-icons {
        margin-top: 25px;
    }

        .footer-distributed .footer-icons a {
            display: inline-block;
            width: 35px;
            height: 35px;
            cursor: pointer;
            background-color: #33383b;
            border-radius: 2px;
            font-size: 20px;
            color: #ffffff;
            text-align: center;
            line-height: 35px;
            margin-right: 3px;
            margin-bottom: 5px;
        }


@media (max-width: 853px) {

    .footer-distributed {
        font: bold 14px sans-serif;
    }

        .footer-distributed .footer-left,
        .footer-distributed .footer-center,
        .footer-distributed .footer-right {
            display: block;
            width: 100%;
            margin-bottom: 40px;
            text-align: center;
        }

            .footer-distributed .footer-center i {
                margin-left: 0;
            }

    .main {
        line-height: normal;
        font-size: auto;
    }
}
/* Footer layout */


/* Media Queries */
@media only screen and (max-width: 560px) and (orientation: portrait) {
    .foodCardGridContainer {
        grid-template-columns: repeat(1,1fr);
    }
}



@media only screen and (max-width: 1340px) {
    .foodCardGridContainer {
        grid-template-columns: repeat(3,1fr);
    }
}

@media only screen and (max-width: 853px) {
    .foodCardGridContainer {
        grid-template-columns: repeat(2,1fr);
    }
}

@media only screen and (max-width: 560px) and (orientation: portrait) {
    .foodCardGridContainer {
        grid-template-columns: repeat(1,1fr);
    }
}
/* Media Queries */
