:root {
    --background: rgb(0, 0, 0);
    --main: #ffffff;
    --font-dark: black;
    --font-light: white;
    --gold: #FAAB36;
    --teal: #249EA0;
    --card: rgb(0, 0, 0);
}

.temp {
    width: 70%;
    margin: auto;
    font-size: .6em;
}

body {
    margin: 0;
    padding: 0;
    /*background-color: #bb9175;*/
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.3em;
    min-width: 375px;
    background-color: var(--background);
    color: var(--font-light);
}



header {
    background-color: var(--background);
    padding: 0px 10%;
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
}

.navButtons {
    justify-content: space-between;
    display: flex;
    padding: 15px;
}

    .navButtons a {
        padding: 15px;
    }

.mainButtons {
    padding: 0px 10px;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 1em;
}

header a {
    text-decoration: none;
    color: var(--font-light);
}


/*HERO*/
h1 {
    font-size: 2em;
}

.hero {
    background-image: url("/images/hero.jpg");
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}

.heroContent {
    margin-left: 10%;
    padding-top: 100px;
}

.heroSearch {
    margin-top: 5px;
    width: 200px;
    font-size: .8em;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.btnSearch {
    padding: 10px;
    border: none;
    font-size: .8em;
    border-radius: 5px;
    background-color: var(--gold);
}




.align-mid {
    text-align: center;
}

.top10Cards {
    background-image: url("/images/bg2.jpg");
    background-size: cover;
}

    #top10Cards h2 {
        margin: 0;
        padding: 25px;
    }

.shadow {
    margin: 0;
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 10px -7px var(--teal);
}

.CoinCards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 5%;
}
/*CARD CONTENT*/
.card {
    margin: 15px;
    padding: 15px 0px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(90deg, rgba(0, 128, 128, 0.5),var(--card) 10%, var(--card) 90%, rgba(255, 166, 0, 0.5) );
    text-align: center;
    color: var(--teal);
    width: 250px;
}

    .card:hover {
        cursor: pointer;
        transition: all 0.3s ease;
        background: linear-gradient(90deg, rgba(0, 128, 128, 0.5),var(--card) 20%, var(--card) 80%, rgba(255, 166, 0, 0.5) );
        box-shadow: 0px 0px 8px rgb(148, 148, 148);
        opacity: 1;
    }

.cardHeader p {
    margin: 10px;
}

.cardHeader {
    margin-bottom: 45px;
}

.CoinCardImage {
    width: 75px;
}


/*Táblázat 1nap, 14nap ... */
.centerTable {
    padding: 15px 0px;
    display: flex;
    justify-content: center;
}

.coinTable {
    background-color: var(--card);
}

.coinTable, th, td {
    border: 1px solid var(--teal);
    border-collapse: collapse;
    padding: 8px 7px;
    text-overflow: clip;
}

    .coinTable a {
        text-decoration: none;
        color: var(--gold);
        font-size: .8em;
    }

    .coinTable th:hover {
        background-color: rgb(27, 27, 27);
    }

.daysResult p {
    margin: 0px;
    padding: 5px 0px;
    font-size: .7em;
}



/*Coin page CSS*/
.CoinPageContent {
    color: white;
    margin: 50px 100px;
    text-align: center;
}

.TopGrid {
    display: grid;
    grid-template-columns: 80% auto;
}

.TopGridItem {
    background-color: #252525;
}

.BasicInfo {
    text-align: left;
}

.CoinRank {
    display: inline;
    font-size: small;
    background-color: gray;
    padding: auto;
    padding: 2px 3px;
    border-radius: 5px;
    margin: 0;
}

.CoinImageName {
    margin: 5px 0px;
}

.CoinImage {
    width: 28px;
    vertical-align: middle;
}

.CoinName {
    display: inline;
    vertical-align: bottom;
}

.CoinPriceAndChange {
}

.CoinPrice {
    margin: 0;
    font-size: xx-large;
}

.CoinPriceChange {
    display: inline;
    font-size: medium;
    vertical-align: 8px;
    margin: 0px 10px;
    padding-bottom: 100px;
}

.InfoGrid {
    text-align: left;
    display: grid;
    grid-template-columns: 35% auto;
}

.InfoGridItem {
    margin: 2.5px 0px;
}

.InfoCategory {
    font-size: 16px;
    font-weight: normal;
    vertical-align: top;
}

.InfoItem {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    background-color: gray;
    padding: 2px 3px;
    border-radius: 5px;
    margin: 2.5px 0px;
}

    .InfoItem a {
        text-decoration: none;
        color: white;
    }

        .InfoItem a:hover {
            text-decoration: none;
            color: rgb(72, 197, 0);
            cursor: pointer;
        }
/*Coin page CSS*/




#Exchange {
    margin-top: 10px;
    background-color: #333;
    display: flex;
    justify-content: center;
    padding: 15px;
    border-radius: 10px;
}

    #Exchange input {
        font-size: 1.2em;
        padding: 5px;
        margin-right: 0px;
        border: none;
        border-radius: 0px 5px 5px 0px;
        text-align: center;
    }

    #Exchange #currency1_Code, #currency2_Code {
        font-weight: bold;
        color: black;
    }

    #Exchange input:focus, textarea:focus, select:focus {
        outline: none;
    }

.ExchangeIMG {
    width: 50px;
    margin: 0px 10px 0px 10px;
}

label {
    display: flex;
    align-items: center;
    background-color: #fff;
    font-size: 1.2em;
    margin: 0;
    border-radius: 5px 0 0 5px;
    border-right: 1px solid grey;
    padding: 0px 10px;
}

.CnDGrid {
    display: grid;
    grid-template-columns: 60% auto;
    margin-top: 10px;
}
    .CoinChart{

    }
    .CoinData {
        background-color: #333;
        margin-left: 10px;
        border-radius: 20px;
    }
        .CoinDataLeft{

        }



/* Footer layout */
footer {
    bottom: 0;
}

.footer-distributed {
    background-color: #0f0b0a;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 20px 50px;
}

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: inline-block;
        vertical-align: middle;
    }

    .footer-distributed .footer-left {
        width: 40%;
    }

    .footer-distributed h3 {
        color: #ffffff;
        font: normal 36px 'Fredoka One', cursive;
        margin: 0;
    }

        .footer-distributed h3 span {
            color: #e2a28e;
        }


    .footer-distributed .footer-links {
        color: #ffffff;
        margin: 20px 0 12px;
        padding: 0;
    }

        .footer-distributed .footer-links a {
            display: inline-block;
            line-height: 1.8;
            text-decoration: none;
            color: inherit;
        }

    .footer-distributed .footer-company-name {
        color: #8f9296;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }


    .footer-distributed .footer-center {
        width: 35%;
    }

        .footer-distributed .footer-center i {
            background-color: #33383b;
            color: #ffffff;
            font-size: 25px;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            text-align: center;
            line-height: 42px;
            margin: 10px 15px;
            vertical-align: middle;
        }

            .footer-distributed .footer-center i.fa-envelope {
                font-size: 17px;
                line-height: 38px;
            }

        .footer-distributed .footer-center p {
            display: inline-block;
            color: #ffffff;
            vertical-align: middle;
            margin: 0;
        }

            .footer-distributed .footer-center p span {
                display: block;
                font-weight: normal;
                font-size: 14px;
                line-height: 2;
            }

            .footer-distributed .footer-center p a {
                color: #5383d3;
                text-decoration: none;
            }

    .footer-distributed .footer-right {
        width: 20%;
    }

    .footer-distributed .footer-company-about {
        line-height: 20px;
        color: #92999f;
        font-size: 13px;
        font-weight: normal;
        margin: 0;
    }

        .footer-distributed .footer-company-about span {
            display: block;
            color: #ffffff;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 20px;
        }

    .footer-distributed .footer-icons {
        margin-top: 25px;
    }

        .footer-distributed .footer-icons a {
            display: inline-block;
            width: 35px;
            height: 35px;
            cursor: pointer;
            background-color: #33383b;
            border-radius: 2px;
            font-size: 20px;
            color: #ffffff;
            text-align: center;
            line-height: 35px;
            margin-right: 3px;
            margin-bottom: 5px;
        }


@media (max-width: 853px) {

    .footer-distributed {
        font: bold 14px sans-serif;
    }

        .footer-distributed .footer-left,
        .footer-distributed .footer-center,
        .footer-distributed .footer-right {
            display: block;
            width: 100%;
            margin-bottom: 40px;
            text-align: center;
        }

            .footer-distributed .footer-center i {
                margin-left: 0;
            }

    .main {
        line-height: normal;
        font-size: medium;
    }
}
/* Footer layout */


/* Media Queries */
@media only screen and (max-width: 560px) and (orientation: portrait) {
    .foodCardGridContainer {
        grid-template-columns: repeat(1,1fr);
    }
}



@media only screen and (max-width: 1340px) {
    .foodCardGridContainer {
        grid-template-columns: repeat(3,1fr);
    }
}

@media only screen and (max-width: 853px) {
    .foodCardGridContainer {
        grid-template-columns: repeat(2,1fr);
    }
}

@media only screen and (max-width: 560px) and (orientation: portrait) {
    .foodCardGridContainer {
        grid-template-columns: repeat(1,1fr);
    }
}
/* Media Queries */
