@page
@model ExamProject_Test.Pages.IndexModel
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <title>Main Page</title>
</head>
<section class="hero">
    <div class="hero-content">
        <h1>Keress millió <br /> recept közül</h1>
        <p>Recept keresése</p>
        <input type="text" /> <a class="buttonSearch">Keresés</a>
        <p>Some random text again</p>
    </div>
</section>

<section class="categories">
    <div class="title">
        <h1>Kategóriák AAAAAAAAA geciú</h1>
        <p>minden is van</p>
    </div>

    <div class="list">
        <a href="#">Összes</a>
        <a href="#">Reggeli</a>
        <a href="#">Gyors</a>
        <a href="#">Ebéd</a>
        <a href="#">Desszert</a>
    </div>

    <div id="categoryCards">
        <div class="card">
            <img src="~/images/pancake.jpg" alt="pancake image" />
            <h6>Desszert</h6>
        </div>
        <div class="card">
            <img src="~/images/pancake.jpg" alt="pancake image" />
            <h6>Desszert</h6>
        </div>
        <div class="card">
            <img src="~/images/pancake.jpg" alt="pancake image" />
            <h6>Desszert</h6>
        </div>
        <div class="card">
            <img src="~/images/pancake.jpg" alt="pancake image" />
            <h6>Desszert</h6>
        </div>
        <div class="card">
            <img src="~/images/pancake.jpg" alt="pancake image" />
            <h6>Desszert</h6>
        </div>
        <div class="card">
            <img src="~/images/pancake.jpg" alt="pancake image" />
            <h6>Desszert</h6>
        </div>
    </div>

</section>