@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <header>
        <div class="navButtons">
            <div >
                <a class="logo" asp-area="" asp-page="/Index">SzEBBHZ</a>
            </div>

            <div class="mainButtons">
                <a asp-area="" asp-page="/Index"> Home </a>
                <a asp-area="" asp-page="/CoinGeckoMethodTest"> Recept keresö </a>
                <a href="#"> Mi van a hütöben </a>
            </div>

            <div >
                <a href="#"> <i class="fa fa-user-o" aria-hidden="true"></i> </a>
            </div>
        </div>
    </header>
    <div>
            @RenderBody()
    </div>

    <footer class="footer-distributed">
        <div class="footer-left">

            <h3>Food<span>Baszó</span></h3>

            <p class="footer-links">
                <a href="#">Home</a>

                <a href="#">Blog</a>

                <a href="#">Pricing</a>

                <a href="#">About</a>

                <a href="#">Faq</a>

                <a href="#">Contact</a>
            </p>

            <p class="footer-company-name">foodcooker &copy; 2021</p>
        </div>

        <div class="footer-center">

            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>420/69 Rocket Stree</span> California, Ukraine</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>+1 420 696969</p>
            </div>

            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:support@company.com">contact@webdevtrick.com</a></p>
            </div>

        </div>

        <div class="footer-right">

            <p class="footer-company-about">
                <span>About the company</span>
                Web Dev Trick is a blog for web designers, graphic designers, web developers &amp; SEO Learner.
            </p>

            <div class="footer-icons">

                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>

            </div>

        </div>
    </footer>
</body>
</html>